<section id="contact" style="text-align: center;">
    <div class="container-fluid" style="padding: 3rem 8rem;">

        <span style="display: inline-block; padding: 2rem;"><i class="fa-brands fa-instagram fa-xl"></i></span>
        <span style="display: inline-block; padding: 2rem;"><i class="fa-brands fa-facebook fa-xl"></i></span>
        <span style="display: inline-block; padding: 2rem;"><i class="fa-regular fa-envelope fa-xl"></i></span>
        <span style="display: inline-block; padding: 2rem;"><i class="fa-brands fa-linkedin fa-xl"></i></span>

    </div>
</section>